<div id="<%= dom_id application %>">
  <p>
    <strong>Name:</strong>
    <%= application.name %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= application.token %>
  </p>

  <p>
    <strong>Chats count:</strong>
    <%= application.chats_count %>
  </p>

</div>
