<div id="<%= dom_id chat %>">
  <p>
    <strong>Application:</strong>
    <%= chat.application_id %>
  </p>

  <p>
    <strong>Num:</strong>
    <%= chat.num %>
  </p>

  <p>
    <strong>Msgs count:</strong>
    <%= chat.msgs_count %>
  </p>

</div>
